<div class="sidebar collapsed">
    <ul class="sidebar-menu">
        <li><a class="active"><img src="../../../../assets/img/icon-1.svg"><span>User Authentication</span></a></li>
        <li><a><img src="../../../../assets/img/icon-2.svg"><span>Task & Project...</span></a></li>
        <li><a><img src="../../../../assets/img/icon-3.svg"><span>Board View</span></a></li>
        <li><a><img src="../../../../assets/img/icon-4.svg"><span>Notifications Collaboration</span></a></li>
        <li><a><img src="../../../../assets/img/icon-5.svg"><span>Reporting & Analytics</span></a></li>
        <li><a><img src="../../../../assets/img/icon-6.svg"><span>Advanced Features</span></a></li>
    </ul>
</div>