<div class="login-container">
  <div class="row login-box bg-white">
      <div class="col-md-5 p-2">
          <div class="login-image">
              <h2>Take your productivity to the next level.</h2>
              <p class="copyright">Copyright 2021 | All Rights Reserved</p>
          </div>
      </div>
      <div class="col-md-7 d-flex flex-column justify-content-center">
      <div class="login-content ">
          <h2>Create an<span> Account</span></h2>
          <p>It's Simple and Easy!!</p>
      <form [formGroup]="registerForm" method="post" (ngSubmit)="onSubmit()">
        <div class="row mb-4 namerow">
          <div class="col-md-6 me-1">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" formControlName="first_name" class="form-control" id="firstname" placeholder="First Name">
              <small class="text-danger small m-0" *ngIf="registerForm.get('first_name')?.invalid && registerForm.get('first_name')?.touched">
                * Name is required
              </small>
          </div>
          <div class="col-md-6">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" formControlName="last_name" class="form-control" id="lastname" placeholder="Last Name" >
            <small class="text-danger small m-0" *ngIf="registerForm.get('last_name')?.invalid && registerForm.get('last_name')?.touched">
              * Last Name is required
            </small>
          </div>
        </div>

          <div class="mb-4">
             <label for="email" class="form-label">Email Address</label>
             <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" >
             <small class="text-danger small m-0" *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched">
              * Email is required
            </small>
            <small class="text-danger small m-0" *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched">
              * Enter a valid email address
            </small>
          </div>

          <div class="mb-1 password-wrapper">
             <label for="password" class="form-label">Enter A Password</label>
             <input [type]="showPassword ? 'text' : 'password'"  formControlName="password" class="form-control" id="password" placeholder="password" >

              <img *ngIf="showPassword" src="assets/img/eye.svg" class="toggle-password" width="20" (click)="togglePassword('password')">
              <img *ngIf="!showPassword" src="assets/img/hide.png" class="toggle-password" width="20"(click)="togglePassword('password')">

          </div>

          <small class="text-danger small m-0" *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">
            * Password is required
          </small>
          <small class="text-danger small m-0 d-block" *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched">
            * Password must be at least 8 characters long
          </small>
          <small class="text-danger small m-0" *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched">
            * Password must contain an uppercase letter, a number, and a special character
          </small>

          <div class="mb-1 password-wrapper">
            <label for="password" class="form-label">Confirm Password</label>
            <input [type]="showConfirmPassword ? 'text' : 'password'"  class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="confirmPassword" >

              <img *ngIf="showConfirmPassword" src="assets/img/eye.svg" class="confirm-password" width="20" (click)="togglePassword('confirmPassword')">
              <img *ngIf="!showConfirmPassword" src="assets/img/hide.png" class="confirm-password" width="20" (click)="togglePassword('confirmPassword')">


         </div>
         <small class="text-danger small m-0" *ngIf="registerForm.errors?.['passwordsMismatch'] && registerForm.touched">
          * Passwords do not match
        </small>
         <button type="submit" class="btn btn-primary w-100 mt-4" [disabled]="loading">
          <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          {{ loading ? 'Loading...' : 'Create Account' }}
        </button>


      </form>
      <div class="signup-action-footer text-center mt-3">
        <p class="login-txt">Already have an account?
            <a [routerLink]="['/auth/login']" class="links links-primary no-underline">LogIn</a>
        </p>
    </div>
      </div>
  </div>
  </div>
</div>


