<div class="login-container">
    <div class="row login-box bg-white">
        <div class="col-md-5 p-2">
            <div class="login-image">
                <h2>Get Back Into Your Account</h2>
                <p class="copyright">Copyright 2021 | All Rights Reserved</p>
            </div>  
        </div>
        <div class="col-md-7 d-flex flex-column justify-content-center">
        <div class="content">
            <h2>Forgot <span> Password</span></h2>
            <p>Enter your email address to reset your password.</p>
        <form [formGroup]="forgotpasswordForm" method="post" (ngSubmit)="onSubmit()">
            <div class="mb-4">
               <label for="email" class="form-label">Email Address<small class="text-danger" > * </small></label>
               <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email Address" required autocomplete="off">
               <small class="text-danger small m-0" *ngIf="forgotpasswordForm.get('email')?.touched && forgotpasswordForm.get('email')?.errors?.['required']">
                Email is required.
              </small>
              <small class="text-danger small m-0" 
                    *ngIf="forgotpasswordForm.get('email')?.touched && 
                            (forgotpasswordForm.get('email')?.errors?.['email'] || forgotpasswordForm.get('email')?.errors?.['commonEmail'])">
                Invalid email.
              </small>

            </div>
            <!-- {{forgotpasswordForm.errors | json}}

            {{forgotpasswordForm.get('email')?.errors | json}} -->
            <!-- <button type="submit" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#otpModal">Send Code</button> -->
            <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
                <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                {{ loading ? 'Loading...' : 'Send Code' }}
              </button>
        </form>
        </div>
    </div>
    </div>
</div>